.category-page-hero {
	align-items: center;
	background: rgb(16, 4, 60);
	background: linear-gradient(360deg, rgba(16, 4, 60, 1) 0%, rgba(34, 10, 121, 1) 35%, rgba(62, 37, 155, 1) 100%);
	border-radius: 10px;
	color: #ffc300;
	display: flex;
	min-height: 6rem;
	justify-content: center;
	margin: 2rem;
	outline: solid 1px rgb(16, 4, 60);
	min-width: 50%;
	padding: 0 2rem;
	// outline: solid 1px #ffc300;

	h1 {
		text-align: center;
		margin: 1rem 0.5rem;
		text-shadow: 1px 1px 5px rgb(255, 72, 0);
	}
}
