.category-page-hero {
	align-items: center;
	background: $background-gradient-blue;
	border-radius: 10px;
	display: flex;
	min-height: 6rem;
	justify-content: center;
	margin: 2rem;
	outline: 1px solid $color-background-dark-blue;
	min-width: 50%;
	padding: 0 2rem;

	h1 {
		margin: 1rem 0.5rem;
	}
}
