.genre-grid {
	align-items: center;
	justify-content: center;
	gap: 3rem;
	margin: 0;

	a {
		align-items: center;
		background: $color-background-dark-blue;
		border-radius: 10px;
		border: 2px solid $color-yellow;
		color: $color-yellow;
		cursor: pointer;
		display: flex;
		font-family: $heading-font;
		font-size: 1.2rem;
		justify-content: center;
		letter-spacing: 0.075rem;
		max-width: 75vw;
		padding: 2rem;
		text-decoration: none;


		&:hover {
			background: $color-background-dark-blue-hover;
			color: $color-white;
		}
	}
}

@media screen and (min-width: 992px) {

	.genre-grid {
		margin: 3rem 0;
	}

}
