.movie-page-container {
	.cover-img {
		border: 2px solid $color-yellow;
		border-radius: 5px;
		margin: 2rem 0 0;
	}

	.movie-page-grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 0.5rem 1rem;
		width: 100%;
		color: $color-white;
		margin: 1rem 0;

		h2 {
			margin: 1rem 0 0.5rem;
		}

		.grid-box {
			border: 2px solid $color-yellow;
			border-radius: 5px;
			background: $color-background-dark-blue;
			padding: 0.5rem 1rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					width: 100%;
					border-bottom: 1px solid $color-yellow;
					padding: 0.5rem 0;
					display: flex;
					flex-direction: column;

					&:last-child {
						border: none;
					}

					.title-small {
						width: 100%;
					}
				}
			}
		}

		.poster-img {
			display: none;
			border-radius: 5px;
		}

		.movie-info {
			grid-area: 2 / 1 / 4 / 7;
		}

		.movie-info-title {
			grid-area: 1 / 1 / 2 / 7;
		}

		.overview {
			grid-area: 5 / 1 / 7 / 7;
			padding: 0 1rem;

			p {
				margin: 0;
				line-height: 1.5rem;
			}
		}

		.overview-title {
			grid-area: 4 / 1 / 5 / 7;
		}

		.cast {
			grid-area: 8 / 1 / 13 / 7;

			a {
				text-decoration: none;
				color: inherit;

				&:hover {
					color: $color-orange-text;

				}
			}

			h3 {
				font-size: 1.4rem;
				font-weight: 300;
				margin: 0.5rem 0 0.3rem;
			}
		}

		.credits-title {
			grid-area: 7 / 1 / 8 / 7;
		}
	}
}

@media screen and (min-width: 992px) {

	.movie-page-container {

		.movie-page-grid {
			border: 2px solid $color-yellow;
			border-radius: 5px;
			background: $color-background-dark-blue;
			padding: 1.5rem;
			gap: 0.5rem 1.5rem;

			.poster-img {
				display: flex;
				grid-area: 1 / 5 / 4 / 7;
			}

			.grid-box {
				border: none;
				background: none;
				padding: 0;
			}

			.movie-info {
				grid-area: 2 / 1 / 4 / 5;
			}

			.movie-info-title {
				grid-area: 1 / 1 / 2 / 5;
			}

			.overview {
				grid-area: 5 / 1 / 7 / 6;
				padding: 0;
			}

			.overview-title {
				grid-area: 4 / 1 / 5 / 7;
			}

			.cast {
				grid-area: 8 / 1 / 13 / 7;

				ul {
					display: flex;
					flex-wrap: wrap;

					li {
						width: 50%;

						&:last-child {
							border-bottom: 1px solid $color-yellow;
						}

						&:nth-child(odd):last-child {
							width: 100%;
						}
					}
				}
			}

			.credits-title {
				grid-area: 7 / 1 / 8 / 7;
			}

		}
	}
}

@media screen and (min-width: 1200px) {

	.movie-page-container {
		.cover-img {
			max-width: 80%;
			margin-bottom: 3rem;
		}

		.movie-page-grid {
			border: 2px solid $color-yellow;
			border-radius: 5px;
			background: $color-background-dark-blue;
			padding: 1rem;
			max-width: 80%;
		}
	}
}
