.movie-grid {
	justify-content: center;
	margin: 0 1rem;

	.card {
		padding: 0;

		// .card-img-overlay {
		// 	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
		// 	display: none;
		// 	align-items: end;
		// 	padding-bottom: 6rem;

		// 	&:hover {
		// 		display: flex;
		// 	}
		// }

		img {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

@media screen and (min-width: 992px) {

}
