.movie-grid {
	justify-content: center;
	margin: 0 2rem 3rem;

	.card {
		padding: 0;
		background: rgb(6, 1, 24);
		border: 1px solid #ffc300;
		outline: 1px solid #ffc300;
		color: white;
		margin: 2rem 1rem;

		// .card-img-overlay {
		// 	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
		// 	display: none;
		// 	align-items: end;
		// 	padding-bottom: 6rem;

		// 	&:hover {
		// 		display: flex;
		// 	}
		// }

		img {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.card-info {
			display: flex;
			flex-direction: column;
			font-size: 1rem;
			text-align: center;
			align-items: stretch;
			height: 100%;
			border-top: 1px solid #ffc300;
			padding: 0.5rem 0 0.5rem;

			div {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				padding: 0.5rem 0.2rem;
				flex: 1;
				// border-bottom: 0.25px solid white;

				span {
					width: 100%;
					text-transform: uppercase;
					letter-spacing: 0.1rem;
					color: #ffc300;
					font-size: 75%;
				}

				&:first-child {
					flex: 2;
				}

				&:last-child {
				}
			}
		}

		.list-group {

			.list-group-item {
				display: flex;
				flex: 1;

				&:first-child {
					flex: 2;
				}

				&:last-child {
					// flex: 1;
				}
			}
		}
	}
}

@media screen and (min-width: 576px) {

	.movie-grid {
		margin: 0 0 3rem;
	}

}

@media screen and (min-width: 992px) {

}
