.movie-grid {
	display: flex;
	justify-content: center;

	.card {
		min-width: 30%;
		padding: 0;

		img {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

@media screen and (min-width: 992px) {

}
