.movie-grid {
	justify-content: center;
	margin: 0 2rem 3rem;

	a {
		text-decoration: none;
		padding: 0;
		margin: 2rem 1rem;

		.card {
			padding: 0;
			background: $color-background-dark-blue;
			border: 1px solid $color-yellow;
			outline: 1px solid $color-yellow;
			color: $color-white;
			height: 100%;
			// .card-img-overlay {
			// 	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
			// 	display: none;
			// 	align-items: end;
			// 	padding-bottom: 6rem;

			// 	&:hover {
			// 		display: flex;
			// 	}
			// }

			&:hover {
				background: $color-background-dark-blue-hover;
			}

			img {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			.card-info {
				display: flex;
				flex-direction: column;
				font-size: 1rem;
				text-align: center;
				align-items: stretch;
				height: 100%;
				border-top: 1px solid $color-yellow;
				padding: 0.5rem 0 0.5rem;

				div {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					padding: 0.5rem 0.2rem;
					flex: 1;
					font-size: 1.25rem;

					.title-small {
						width: 100%;
						font-size: 75%;
					}

					&:first-child {
						flex: 2;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 576px) {

	.movie-grid {
		margin: 0 0 3rem;

		a {
			.card {
				.card-info {
					div {
						font-size: 1rem;
						padding: 0.5rem;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.movie-grid {
		a {
			.card {
				.card-info {
					div {
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}
