.navbar {
	background: $background-gradient-blue;

	.container {
		.navbar-brand {
			color: $color-yellow;
			font-family: $heading-font;
			letter-spacing: 0.05rem;
			text-shadow: $text-shadow-orange;

			span {
				text-shadow: none;
				margin-left: 0.25rem;
			}

			&:hover {
				color: $color-white;
				text-shadow: none;
			}
		}

		.nav-link {
			color: $color-yellow;
			font-family: $heading-font;
			letter-spacing: 0.05rem;


			&:hover {
				color: $color-white;
			}
		}

		.navbar-nav .nav-link.active {
			color: $color-orange-text;
			text-decoration: 1.5px underline;
			text-underline-offset: 5px;
		}

		.navbar-toggler {
			border: none;

			&:focus {
				box-shadow: none;

				.navbar-toggler-icon {
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(222, 133, 18)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
				}
			}

			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 195, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
			}
		}

		.dropdown-menu {
			border: none;
			background: none;

			.dropdown-item.active {
				background: $color-orange-text;
				color: $color-white;
				border: none;

				&:first-child {
					border-radius: 5px 5px 0 0;
				}

				&:last-child {
					border-radius: 0 0 5px 5px;
				}
			}

			a.dropdown-item {
				text-align: center;
				letter-spacing: 0.1rem;
				font-size: 85%;
				width: 100%;
				border-bottom: 1px solid $color-yellow;
				padding: 10px 0;

				&:first-child {
					font-weight: 600;
					letter-spacing: 0.15rem;
				}

				&:last-child {
					border: none;
				}

				&:hover {
					background: $color-background-dark-blue-hover;
					color: $color-white;

					&:first-child {
						border-radius: 5px 5px 0 0;
					}

					&:last-child {
						border-radius: 0 0 5px 5px;
					}
				}
			}
		}

		.dropdown-menu.show {
			display: flex;
			flex-direction: column;
			padding: 0;
		}
	}
}

@media screen and (min-width: 992px) {

	.navbar {
		.container {
			.dropdown-menu {
				border: 1px solid $color-yellow;
				background: $color-background-dark-blue;

				a.dropdown-item {
					font-size: 75%;
				}

				.dropdown-item.active {
					// background: rgb(20, 4, 80);
				}
			}
		}
	}
}
