@import 'bootstrap/scss/bootstrap';

@import 'config';
@import 'movie_grid';

body {
	background-color: $color-background;
}

h1 {
	color: $color-white;
}

#App {
	.page-body {
		padding: 3rem 0;
	}
}
