@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Young+Serif&display=swap');

// Config
@import 'config';

// Individual files
@import 'actor-page';
@import 'category-page';
@import 'genre-grid';
@import 'home-page';
@import 'movie-grid';
@import 'movie-page';
@import 'nav';
@import 'pagination';

html {
	background: $color-background-dark-blue-hover;
}

body {
	background: $color-background-dark-blue-hover;
	background: linear-gradient(360deg, rgba(34, 12, 116, 1) 0%, rgba(12, 16, 51, 1) 40%, rgba(6, 1, 24, 1) 100%);
	color: $color-yellow;
	font-family: $primary-font;
}

h1 {
	color: $color-yellow;
	font-family: $heading-font;
	letter-spacing: 0.075rem;
	margin: 0;
	text-shadow: $text-shadow-orange;
	text-align: center;
}

.btn {
	background-color: $color-background-dark-blue;
	border: 1px solid $color-yellow;
	text-transform: uppercase;
	color: $color-yellow;
	letter-spacing: 0.1rem;

	&:hover {
		background-color: $color-background-dark-blue-hover;
		border: 1px solid $color-yellow;
	}
}

.page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.not-found-container {
	height: 100vh;
}

.title-small {
	text-transform: uppercase;
	color: $color-yellow;
	letter-spacing: 0.1rem;
}

#App {
	.page-body {
		padding-bottom: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

