@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Young+Serif&display=swap');

// Individual files
@import 'category-page';
@import 'config';
@import 'genre-grid';
@import 'movie-grid';
@import 'nav';

html {
	background: rgb(34, 12, 116);
	// background: linear-gradient(360deg, rgba(34, 12, 116, 1) 0%, rgba(12, 16, 51, 1) 40%, rgba(7, 10, 31, 1) 100%);

}

body {
	// background-color: $color-background;
	// background-color: #111747;
	background: rgb(34, 12, 116);
	background: linear-gradient(360deg, rgba(34, 12, 116, 1) 0%, rgba(12, 16, 51, 1) 40%, rgba(6, 1, 24, 1) 100%);
	color: #ffc300;
	font-family: $primary-font;
}

h1 {
	color: $color-white;
	color: #ffc300;
	font-family: $heading-font;
	letter-spacing: 0.075rem;
	margin: 0;
}

#App {

	.page-body {
		// padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
